.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-slider-1 {
  min-height: 776px;
  margin-bottom: 60px;
  margin-top: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-image-1 {
  height: 696px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-decoration: none !important;
  margin: -378px 129px 0 90px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 2.25rem;
  margin: 0 44px 0 98px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 50px;
}

.u-section-1 .u-image-2 {
  width: 950px;
  height: 728px;
  margin: 24px 34px 0 auto;
}

.u-section-1 .u-text-3 {
  text-decoration: none !important;
  font-size: 3.75rem;
  margin: -288px auto 0 68px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 10px auto 0 68px;
}

.u-section-1 .u-container-layout-3 {
  padding: 22px 42px;
}

.u-section-1 .u-image-3 {
  height: 678px;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 3rem;
  margin: -419px auto 0 96px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 27px auto 0 88px;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    min-height: 692px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 19px;
    margin-left: 0;
    width: 821px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 840px;
    height: 644px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -204px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    min-height: 554px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    width: 660px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 660px;
    height: 506px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -66px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    min-height: 447px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 520px;
    height: 399px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 41px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-slider-1 {
    min-height: 294px;
  }

  .u-section-1 .u-text-1 {
    width: 320px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 246px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 791px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 85px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 101px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 519px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 163px;
  height: 163px;
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
  margin: 51px auto 0 80px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 58px 56px 0 32px;
}

.u-section-2 .u-text-3 {
  margin: 20px 42px 0 18px;
}

.u-section-2 .u-btn-1 {
  font-weight: 400;
  background-image: none;
  margin: 37px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 519px;
}

.u-section-2 .u-container-layout-2 {
  padding: 2px 0;
}

.u-section-2 .u-image-2 {
  width: 160px;
  height: 160px;
  background-image: url("images/2-9.jpeg");
  background-position: 50% 50%;
  margin: 52px 91px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 56px 30px 0;
}

.u-section-2 .u-text-5 {
  margin: 22px 22px 0 38px;
}

.u-section-2 .u-btn-2 {
  font-weight: 400;
  margin: 37px 92px 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 519px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 173px;
  height: 173px;
  filter: brightness(0.95);
  background-image: url("images/4.jpg");
  background-position: 50% 50%;
  margin: 51px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 48px 18px 0 42px;
}

.u-section-2 .u-text-7 {
  margin: 16px 8px 0 32px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -7px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 21px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 25px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 428px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -96px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 44px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 472px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-social-icons-1 {
  height: 110px;
  min-height: 16px;
  width: 350px;
  min-width: 68px;
  margin: 0 auto 60px;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-3 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-3 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 208px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1232px;
  margin: 0 auto 25px -15px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 183px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 183px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 140px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 140px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 107px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 107px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 241px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 152px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 152px;
  }
}